{% extends 'layout.html' %}

{% block body %}
    <h3>Hakkımızda</h3>
    <hr>
    <p>15 yaşımdan itibaren yazılım geliştirme dünyasına adım atan tutkulu bir yazılım geliştiriciyim. Kendi projelerimi tasarlayarak ve sürekli öğrenerek kendimi bu alanda geliştirmeye devam ediyorum. Yaratıcı çözümler üretmek, teknolojiyi kullanarak sorunları çözmek ve yeni şeyler öğrenmek benim için bir tutku haline geldi. Hedefim, yazılım dünyasında sürdürülebilir ve etkili çözümler geliştirerek sektördeki yerimi sağlamlaştırmak ve sürekli olarak kendimi yenilemektir.</p>
    <hr>
{% endblock %}