{% extends 'layout.html' %}

{% block body %}
    
{% if article %}
    <h3>{{ article.title }}</h3>
    <hr>
    <h5>{{ article.content }}</h5>
    <hr>
    <h6>Yazar: {{ article.author }} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        Oluşturulma tarihi: {{ article.created_date }}</h6>
    <hr>
    <h5>Yorum Yap</h5>
    {% from "includes/formhelpers.html" import render_field %}
    <form method="POST">
        {{ render_field(form.comment, class="form-control") }}
        <button type="submit" class="btn btn-success">Yorum yap</button>
    </form>
    <br>
    <h5>Gelen yorumlar</h5>
    <br>
    {% if article_comment %}
        {% for comment in article_comment %}
            <small>{{ comment.username }}</small>
            <h6>{{ comment.comment }}</h6>
            <small>{{ comment.created_date }}</small>
            <hr>
        {% endfor %}
    {% else %}
        <p>Henüz yorum yok.</p>
    {% endif %}
{% else %}
    <div class="alert alert-warning">
        Böyle bir makale bulunamadı
    </div>
{% endif %}

{% endblock %}
